*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
# Project exclude paths
/uikit/build/
/uikit/build/intermediates/javac/debug/classes/